h1{text-align: center;
font-family: 'Cedarville Cursive', cursive;
font-size: 50px;}
.perfil{width:50%;}
body{margin:0;padding-top:100px;
text-align: center;
background:linear-gradient(#fa5555 0%,#e00202 100%);}
.lista{list-style: none;
position: fixed;
top: 10px; right: 30px;
cursor: pointer;
z-index: 10;}
.link{
    display: inline;
    float: left;
padding-top: 5px;
padding-left: 9px;
padding-right: 9px;
padding-bottom: 5px;
font-family: 'Courier New', Courier, monospace;
font-size: 20px;}
#biografia1{
    font-size:30px ;
}
a{text-decoration: none;}
.link:hover{
font-size: 25px;
text-decoration: underline;
}
.contato1 h3 {
display: inline;
}
#roblox{
    font-size: 30px;
    color: aliceblue;
}